<div class="container">
  <br>
  <div class="jumbotron">
    <div class="jumbo-div">
    <h1 class="text-center">Eat-Da-Burger</h1>
    <form class="create-form">
        <div class="input-group">
          <input type="text" class="form-control" type="text" 
                 id="bg" name="name" placeholder="Name the burger...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Grill It Up!</button>
          </span>
        </div>
    </form>
  </div>
  </div>

  <div class="row">

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <span class="glyphicon glyphicon-ice-lolly"></span> READY!
          </h2>
        </div>
        <div class="panel-body panel-max">

        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block devoured=false}}
          {{/unless}}
        {{/each}}

        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <span class="glyphicon glyphicon-ice-lolly-tasted"></span> DEVOURED!
          </h2>
        </div>
        <div class="panel-body panel-max">

        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devoured=true}}
          {{/if}}
        {{/each}}
         
        </div>
      </div>
    </div>

  </div>
</div>
